@font-face {
  font-family: 'Lato 400';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato 600';
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  min-width: 320px;
  font-family: 'Montserrat';
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-lm {
  max-width: 93%;
  margin: auto;
}

.wrapper {
  margin-bottom: 80px;
}

.series-name {
  text-transform: uppercase;
}

.primary-button {
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  color: #333333;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 27px;
  max-width: 170px;
  background: #F9F8F9;
  border: 2px solid #666666;
  border-radius: 8px;
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
  border: 2px solid #00CCCC;
}

.primary-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #222222;
}

.all-link {
  position: relative;
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  right: 20px;
}

.all-link:after {
  content: "";
  position: absolute;
  background: url(../images/all-link-arrow.svg);
  top: 8px;
  right: -20px;
  width: 11px;
  height: 16px;
}

.all-link:hover, .all-link:active, .all-link:focus {
  color: #00CCCC;
}

.all-link:hover:after, .all-link:active:after, .all-link:focus:after {
  background: url(../images/all-link-arrow-link.svg);
}

.card-reverse {
  display: flex;
  flex-direction: row-reverse !important;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    margin-bottom: 64px;
  }
  .primary-button {
    font-size: 14px;
    line-height: 24px;
    max-width: 140px;
  }
  .primary-title {
    font-size: 32px;
    line-height: 48px;
  }
  .all-link {
    font-size: 14px;
    line-height: 24px;
  }
  .all-link:after {
    top: 4px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-bottom: 48px;
  }
  .container-lm {
    max-width: 90%;
  }
  .primary-title {
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    margin-bottom: 24px;
  }
  .title-wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }
  .all-link {
    right: 0;
    margin-bottom: 8px;
  }
}

.presentation-banner {
  background: url(../images/presentation-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vw;
}

.presentation__card {
  flex-direction: row;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.presentation__card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
}

.presentation__card__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;
}

.presentation__card__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 32px;
}

.presentation__card__text br {
  margin-bottom: 24px;
}

.presentation__card__img1 {
  background: url(../images/presentation-img/presentation-card-1.jpg);
}

.presentation__card__img2 {
  background: url(../images/presentation-img/presentation-card-2.jpg);
}

.presentation__card__img3 {
  background: url(../images/presentation-img/presentation-card-3.jpg);
}

.presentation__card__img {
  width: 50%;
  min-height: 763px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

@media screen and (max-width: 1440px) {
  .presentation__card__info {
    padding-left: 65px;
    padding-right: 65px;
  }
  .presentation__card__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .presentation__card__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .presentation__card__text br {
    margin-bottom: 16px;
  }
  .presentation__card__img {
    min-height: 572px;
    background-position: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .presentation__card__info {
    padding-left: 48px;
    padding-right: 48px;
  }
  .presentation__card__title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .presentation__card__text {
    margin-bottom: 16px;
  }
  .presentation__card__img {
    min-height: 525px;
  }
}

@media screen and (max-width: 768px) {
  .presentation__card {
    flex-direction: column-reverse !important;
  }
  .presentation__card__info {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
  }
  .presentation__card__title {
    font-size: 18px;
    line-height: 32px;
  }
  .presentation__card__img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .presentation__card__info {
    padding-left: 16px;
    padding-right: 16px;
  }
  .presentation__card__img {
    min-height: 425px;
  }
  .presentation__card__button {
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .presentation__card__img {
    min-height: 300px;
  }
}

.popular__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular__title {
  margin-bottom: 0;
}

.popular__card {
  width: 49%;
  margin-top: 40px;
  cursor: pointer;
}

.popular__card__info {
  padding: 24px;
}

.popular__card__title {
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 8px;
}

.popular__card__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 8px;
}

.popular__card__img1 {
  background: url(../images/popular-img/popular-card-1.png);
}

.popular__card__img2 {
  background: url(../images/popular-img/popular-card-2.png);
}

.popular__card__img3 {
  background: url(../images/popular-img/popular-card-3.png);
}

.popular__card__img4 {
  background: url(../images/popular-img/popular-card-4.png);
}

.popular__card__img {
  min-height: 520px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-color: #EDEDED;
}

@media screen and (max-width: 1440px) {
  .popular__card {
    margin-top: 32px;
  }
  .popular__card__info {
    padding: 16px;
  }
  .popular__card__title {
    font-size: 18px;
    line-height: 32px;
  }
  .popular__card__text {
    font-size: 14px;
    line-height: 24px;
  }
  .popular__card__img {
    min-height: 390px;
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .popular__card {
    margin-top: 24px;
  }
  .popular__card__img {
    min-height: 285px;
  }
}

@media screen and (max-width: 768px) {
  .popular__card__img {
    min-height: 210px;
  }
}

@media screen and (max-width: 576px) {
  .popular__card {
    width: 100%;
    margin-top: 16px;
  }
  .popular__card__img {
    min-height: 240px;
  }
}

@media screen and (max-width: 420px) {
  .popular__card__img {
    min-height: 170px;
  }
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project__title {
  margin-bottom: 0;
}

.project__card {
  width: 49%;
  margin-top: 40px;
  cursor: pointer;
}

.project__card__info {
  padding: 24px;
}

.project__card__title {
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 8px;
}

.project__card__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 0;
}

.project__card__img1 {
  background: url(../images/project-img/project-card-1.jpg);
}

.project__card__img2 {
  background: url(../images/project-img/project-card-2.jpg);
}

.project__card__img3 {
  background: url(../images/project-img/project-card-3.jpg);
}

.project__card__img4 {
  background: url(../images/project-img/project-card-4.jpg);
}

.project__card__img {
  min-height: 520px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1440px) {
  .project__card {
    margin-top: 32px;
  }
  .project__card__info {
    padding: 16px;
  }
  .project__card__title {
    font-size: 18px;
    line-height: 32px;
  }
  .project__card__text {
    font-size: 14px;
    line-height: 24px;
  }
  .project__card__img {
    min-height: 390px;
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .project__card {
    margin-top: 24px;
  }
  .project__card__img {
    min-height: 285px;
  }
}

@media screen and (max-width: 768px) {
  .project__card__img {
    min-height: 210px;
  }
}

@media screen and (max-width: 576px) {
  .project__card {
    width: 100%;
    margin-top: 16px;
  }
  .project__card__img {
    min-height: 240px;
  }
}

@media screen and (max-width: 420px) {
  .project__card__img {
    min-height: 170px;
  }
}

.work__card {
  flex-direction: row;
  margin-top: 40px;
  height: 448px;
}

.work__card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #ffffff;
}

.work__card__step {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 16px;
}

.work__card__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
  color: #333333;
}

.work__card__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 24px;
}

.work__card__text_garanty {
  display: flex;
  flex-direction: column;
}

.work__card__text br {
  margin-bottom: 24px;
}

.work__card__button {
  max-width: 235px;
}

.work__card__button svg {
  margin-left: 5px;
  margin-bottom: 2px;
}

.work__card__img1 {
  background: url(../images/work-img/work-step-1.jpg);
}

.work__card__img2 {
  background: url(../images/work-img/work-step-2.jpg);
}

.work__card__img3 {
  background: url(../images/work-img/work-step-3.jpg);
}

.work__card__img4 {
  background: url(../images/work-img/work-step-4.jpg);
}

.work__card__img5 {
  background: url(../images/work-img/work-step-5.jpg);
}

.work__card__img6 {
  background: url(../images/work-img/work-step-6.jpg);
}

.work__card__img7 {
  background: url(../images/work-img/work-step-7.jpg);
}

.work__card__img {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .work__card {
    height: 336px;
    margin-top: 32px;
  }
  .work__card__info {
    padding-left: 64px;
    padding-right: 64px;
  }
  .work__card__step {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .work__card__title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .work__card__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .work__card__text br {
    margin-bottom: 16px;
  }
  .work__card__button {
    font-size: 14px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 193px;
  }
  .work__card__img {
    background-position-x: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .work__card {
    height: 245px;
    margin-top: 24px;
  }
  .work__card__info {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .work__card__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .work__card__info {
    padding-left: 24px;
    padding-right: 24px;
  }
  .work__card__title {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .work__card {
    margin-top: 16px;
    height: auto;
    min-height: 170px;
  }
  .work__card__info {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .work__card__button {
    max-width: 100%;
  }
}

.feedback__title {
  margin-bottom: 0;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__card {
  padding: 32px;
  width: 49%;
  min-height: 332px;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid #DBDBDB;
}

.feedback__card__wrapper {
  display: flex;
  margin-bottom: 32px;
}

.feedback__card__bio {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.feedback__card__avatar img {
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.feedback__card__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 4px;
}

.feedback__card__title {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
}

.feedback__card__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 24px;
}

.feedback__card__link {
  right: 0;
}

.feedback__card__link:after {
  left: 170px;
}

@media screen and (max-width: 1440px) {
  .feedback__card {
    padding: 24px;
    margin-top: 32px;
    min-height: 250px;
  }
  .feedback__card__wrapper {
    margin-bottom: 24px;
  }
  .feedback__card__bio {
    margin-left: 16px;
  }
  .feedback__card__avatar img {
    width: 76px;
    height: 76px;
  }
  .feedback__card__name {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 4px;
  }
  .feedback__card__title {
    font-size: 14px;
    line-height: 24px;
  }
  .feedback__card__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .feedback__card__link {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .feedback__card {
    padding: 16px;
    margin-top: 24px;
  }
  .feedback__card__wrapper {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .feedback__card {
    max-height: max-content;
  }
  .feedback__card__bio {
    margin-left: 0;
  }
  .feedback__card__avatar {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .feedback__card {
    width: 100%;
    margin-top: 16px;
    max-height: max-content;
  }
}

.interaction {
  margin-top: 80px;
}

.interaction-contract {
  flex-direction: row;
  height: 765px;
  margin-bottom: 80px;
}

.interaction-contract__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #ffffff;
}

.interaction-contract__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;
  color: #222222;
}

.interaction-contract__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #666666;
}

.interaction-contract__button {
  max-width: 160px;
}

.interaction-contract__img {
  background: url(../images/interaction-img/interaction-contract-card.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

@media screen and (max-width: 1440px) {
  .interaction {
    margin-top: 64px;
  }
  .interaction-contract {
    height: 575px;
    margin-bottom: 64px;
  }
  .interaction-contract__info {
    padding-left: 64px;
    padding-right: 64px;
  }
  .interaction-contract__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .interaction-contract__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .interaction-contract__button {
    max-width: 140px;
  }
}

@media screen and (max-width: 1024px) {
  .interaction {
    margin-top: 48px;
  }
  .interaction-contract {
    height: 415px;
    margin-bottom: 48px;
  }
  .interaction-contract__info {
    padding-left: 48px;
    padding-right: 48px;
  }
  .interaction-contract__title {
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (max-width: 845px) {
  .interaction-contract {
    height: max-content;
    border: none;
  }
  .interaction-contract__info {
    padding-left: 24px;
    padding-right: 0;
    background-color: #E5E5E5;
  }
  .interaction-contract__title {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .interaction-contract__text {
    margin-bottom: 16px;
  }
  .interaction-contract__button {
    background-color: inherit;
  }
}

@media screen and (max-width: 576px) {
  .interaction {
    margin-top: 24px;
  }
  .interaction-contract {
    flex-direction: column-reverse !important;
    margin-bottom: 24px;
  }
  .interaction-contract__info {
    width: 100%;
    padding: 16px;
  }
  .interaction-contract__title {
    margin-bottom: 8px;
  }
  .interaction-contract__button {
    max-width: 100%;
  }
  .interaction-contract__img {
    width: 100%;
    min-height: 245px;
  }
}

.interaction-selection {
  height: 765px;
  background: url(../images/interaction-img/interaction-selection-card.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.interaction-selection__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.interaction-selection__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 32px;
}

.interaction-selection__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 32px;
}

.interaction-selection__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interaction-selection__field {
  padding-left: 16px;
  margin-bottom: 24px;
  height: 75px;
  max-width: 230px;
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.interaction-selection__field::placeholder {
  color: #ffffff;
  opacity: 1;
}

.interaction-selection__field__name, .interaction-selection__field__phone {
  padding-top: 15px;
}

.interaction-selection__namelabel {
  position: absolute;
  left: 16px;
  top: 5px;
  color: #ffffff;
}

.interaction-selection__phonelabel {
  position: absolute;
  top: 5px;
  right: 140px;
  color: #ffffff;
}

.interaction-selection__filelabel {
  text-align: center;
  padding-top: 8px;
  width: 48%;
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.interaction-selection__file {
  position: absolute;
  height: 50px;
  max-width: 220px;
  bottom: -75px;
  padding-top: 8px;
  padding-left: 15px;
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.interaction-selection__file::file-selector-button {
  display: none;
}

.interaction-selection__button {
  width: 48%;
  height: 50px;
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: inherit;
  color: #ffffff;
}

.interaction {
  margin-top: 80px;
}

.interaction-solutions {
  flex-direction: row;
  height: 765px;
  margin-bottom: 80px;
}

.interaction-solutions__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #ffffff;
}

.interaction-solutions__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;
  color: #222222;
}

.interaction-solutions__text {
  font-family: 'Lato 400';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #666666;
}

.interaction-solutions__button {
  max-width: 160px;
}

.interaction-solutions__img {
  background: url(../images/interaction-img/interaction-solutions-card.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

@media screen and (max-width: 1440px) {
  .interaction {
    margin-top: 64px;
  }
  .interaction-solutions {
    height: 575px;
    margin-bottom: 64px;
  }
  .interaction-solutions__info {
    padding-left: 64px;
    padding-right: 64px;
  }
  .interaction-solutions__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .interaction-solutions__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .interaction-solutions__button {
    max-width: 140px;
  }
}

@media screen and (max-width: 1024px) {
  .interaction {
    margin-top: 48px;
  }
  .interaction-solutions {
    height: 415px;
    margin-bottom: 48px;
  }
  .interaction-solutions__info {
    padding-left: 48px;
    padding-right: 48px;
  }
  .interaction-solutions__title {
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (max-width: 845px) {
  .interaction-solutions {
    height: max-content;
    border: none;
  }
  .interaction-solutions__info {
    padding-left: 24px;
    padding-right: 0;
    background-color: #E5E5E5;
  }
  .interaction-solutions__title {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .interaction-solutions__text {
    margin-bottom: 16px;
  }
  .interaction-solutions__button {
    background-color: inherit;
  }
}

@media screen and (max-width: 576px) {
  .interaction {
    margin-top: 24px;
  }
  .interaction-solutions {
    flex-direction: column-reverse !important;
    margin-bottom: 24px;
  }
  .interaction-solutions__info {
    width: 100%;
    padding: 16px;
  }
  .interaction-solutions__title {
    margin-bottom: 8px;
  }
  .interaction-solutions__button {
    max-width: 100%;
  }
  .interaction-solutions__img {
    width: 100%;
    min-height: 245px;
  }
}
/*# sourceMappingURL=style.css.map */