@mixin primary-font
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600

@mixin secondary-font
  font-family: 'Lato 600'
  font-style: normal
  font-weight: 600

@mixin primary-slim
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400

@mixin secondary-slim
  font-family: 'Lato 400'
  font-style: normal
  font-weight: 400

/////// primary-font
@mixin primary-font-lg
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  font-size: 40px
  line-height: 56px

@mixin primary-font-md
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 40px

@mixin primary-font-sm
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 32px

/////// secondary-font
@mixin secondary-font-lg
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 40px

@mixin secondary-font-md
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 32px
