.presentation

  &-banner
    background: url(../images/presentation-banner.png)
    background-repeat: no-repeat
    background-size: contain
    height: 50vw

  &__card
    flex-direction: row
    margin-bottom: 40px
    background-color: $background

    &__info
      display: flex
      flex-direction: column
      justify-content: center
      width: 50%
      padding-left: 80px
      padding-right: 80px

    &__title
      @include primary-font
      font-size: 40px
      line-height: 56px
      margin-bottom: 32px

    &__text
      @include secondary-slim
      font-size: 18px
      line-height: 32px
      color: $secondary
      margin-bottom: 32px

    &__text br
      margin-bottom: 24px

    &__img1
      background: url(../images/presentation-card-1.jpg)

    &__img2
      background: url(../images/presentation-card-2.jpg)

    &__img3
      background: url(../images/presentation-card-3.jpg)

    &__img
      width: 50%
      min-height: 763px
      background-repeat: no-repeat
      background-size: cover

@media screen and ( max-width: 1441px )
  .presentation

    &__card

      &__info
        padding-left: 65px
        padding-right: 65px

      &__title
        font-size: 32px
        line-height: 48px
        margin-bottom: 24px

      &__text
        font-size: 14px
        line-height: 24px
        margin-bottom: 24px

      &__text br
        margin-bottom: 16px

      &__img
        min-height: 572px
        background-position: 50%

@media screen and ( max-width: 1025px )
  .presentation

    &__card

      &__info
        padding-left: 48px
        padding-right: 48px

      &__title
        font-size: 24px
        line-height: 40px
        margin-bottom: 16px

      &__text
        margin-bottom: 16px

      &__img
        min-height: 525px

@media screen and ( max-width: 768px )
  .presentation

    &__card
      flex-direction: column-reverse !important

      &__info
        width: 100%
        padding-left: 24px
        padding-right: 24px
        padding-bottom: 16px

      &__title
        font-size: 18px
        line-height: 32px

      &__img
        width: 100%

@media screen and ( max-width: 576px )
  .presentation

    &__card

      &__info
        padding-left: 16px
        padding-right: 16px

      &__img
        min-height: 425px

      &__button
        max-width: 100%

@media screen and ( max-width: 420px )
  .presentation

    &__card

      &__img
        min-height: 300px
