*
  box-sizing: border-box

body
  background-color: #E5E5E5
  min-width: 320px
  font-family: 'Montserrat'
  font-style: normal

input
  border: none
  outline: none

button, label
  cursor: pointer

a
  text-decoration: none

ul
  list-style-type: none
  padding: 0
  margin: 0

.container-lm
  max-width: 93%
  margin: auto

.wrapper
  margin-bottom: 80px

.series-name
  text-transform: uppercase

.card
  position: relative
  display: flex
  flex-direction: column
  min-width: 0
  word-wrap: break-word
  background-color: #fff
  background-clip: border-box
  border: 1px solid rgba(0,0,0,.125)
  border-radius: .25rem

.primary-button
  @include secondary-font
  color: $primary
  @include md-size
  padding: 8px 27px
  max-width: 170px
  background: #F9F8F9
  border: 2px solid $secondary
  border-radius: 8px

  &:hover,&:active,&:focus
    border: 2px solid $link-color

.primary-title
  @include primary-font
  @include exlg-size
  color: $name-color

.all-link
  position: relative
  @include secondary-font
  @include md-size
  color: $primary
  right: 20px

  &:after
    content: ""
    position: absolute
    background: url(../images/all-link-arrow.svg)
    top: 8px
    right: -20px
    width: 11px
    height: 16px

  &:hover,&:active,&:focus
    color: $link-color

    &:after
      background: url(../images/all-link-arrow-link.svg)

.card-reverse
  display: flex
  flex-direction: row-reverse !important

.title-wrapper
  display: flex
  align-items: center
  justify-content: space-between

@media screen and ( max-width: 1440px )
  .wrapper
    margin-bottom: 64px

  .primary-button
    @include sm-size
    max-width: 140px

  .primary-title
    @include lg-size

  .all-link
    @include sm-size

    &:after
      top: 4px

@media screen and ( max-width: 768px )
  .wrapper
    margin-bottom: 48px

  .container-lm
    max-width: 90%

  .primary-title
    @include exmd-size

@media screen and ( max-width: 576px )
  .wrapper
    margin-bottom: 24px

  .title-wrapper
    flex-direction: column-reverse
    align-items: start

  .all-link
    right: 0
    margin-bottom: 8px
