.footer
  padding-bottom: 40px
  background: url(../images/footer-logo.svg)
  background-repeat: no-repeat
  background-position-x: 100%
  background-position-y: 100%

  &__nav
    padding-top: 40px
    border-top: 1px solid #DBDBDB

    &__item
      margin-right: 32px
      @include primary-slim
      @include md-size
      color: $primary
      cursor: pointer

      &:hover,&:active,&:focus
        color: #000000

  &__social
    display: flex
    justify-content: space-between
    padding-top: 40px

    &__wrapper
      display: flex

    &__item
      display: flex
      align-items: center
      margin-right: 32px
      @include primary-font
      font-weight: 500
      @include md-size
      color: #999999
      cursor: pointer

      &:hover,&:active,&:focus
        color: $link-color

        & svg path
          fill: $link-color

    &__item svg
      margin-right: 7px

  &__copyright
    @include primary-slim
    @include md-size
    color: #999999

@media screen and ( max-width: 1440px )
  .footer

    &__nav, &__social

      &__item
        @include sm-size

    &__copyright
      @include sm-size

@media screen and ( max-width: 1024px )
  .footer

    &__nav
      margin-bottom: 16px

      &__item
        margin-right: 24px

    &__social
      padding-top: 0
      flex-direction: column

      &__wrapper
        flex-wrap: wrap
        margin-bottom: 16px

@media screen and ( max-width: 890px )
  .footer

    &__social

      &__item
        margin-bottom: 16px
        margin-right: 16px

      &__item svg
        width: 18px
        height: 18px

@media screen and ( max-width: 567px )
  .footer

    &__nav, &__social

      &__item
        margin-right: 16px
