.header
  position: fixed
  height: 100px
  width: 100%
  background: #F9F8F9
  z-index: 5

  &__wrapper
    display: flex
    justify-content: space-between
    padding-top: 32px
    padding-bottom: 32px

  &__logo
    cursor: pointer

  &__nav
    display: flex

    &__item
      display: flex
      align-items: center
      margin-right: 32px
      @include primary-slim
      @include md-size

    &__item a
      color: $primary

      &:hover,&:active,&:focus
        color: $link-color

  &__contacts
    display: flex

    &__item
      display: flex
      align-items: center
      @include primary-font
      @include md-size
      color: $primary
      margin-left: 35px
      cursor: pointer

      &:hover,&:active,&:focus
        color: $link-color

        & svg path
          fill: $link-color

    &__phone svg
      margin-right: 7px

    &__burger
      display: none

@media screen and ( max-width: 1720px )
  .header

    &__nav

      &__item
        margin-right: 24px
        @include sm-size

    &__contacts

      &__item
        margin-left: 24px
        @include sm-size

      &__item svg
        width: 21px
        height: 21px

@media screen and ( max-width: 1440px )
  .header
    height: 70px

    &__wrapper
      padding-top: 24px
      padding-bottom: 24px

    &__logo img
      width: 228px
      height: 24px

@media screen and ( max-width: 1300px )
  .header

    &__logo
      background: url(../images/header-logo-small.svg)
      width: 24px
      height: 24px

    &__logo img
      display: none

    &__nav

      &__item
        margin-right: 15px

@media screen and ( max-width: 1015px )
  .header

    &__logo
      background: none
      width: auto
      height: auto

    &__logo img
      display: block

    &__nav
      display: none

    &__contacts
      align-items: center

      &__burger
        display: block

@media screen and ( max-width: 665px )
  .header

    &__logo img
      width: 150px
      height: 16px

    &__wrapper
      align-items: center
      padding-top: 20
      padding-bottom: 20px

    &__contacts

      &__phone, &__whatsapp
        display: none

@media screen and ( max-width: 480px )
  .header
    width: 100vw

    &__contacts

      &__item
        margin-left: 18px
